// solo el titulo
article {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: $jelly_bean;
  padding: 2rem;
  color: $white;
}

.article__title {
  font-weight: $bold;
  font-size: $x-large;
  text-align: center;
}
// solo el titulo

.about__name {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: $large;
  text-align: center;
  font-weight: bold;
}

.about__text {
  padding-left: 15%;
  padding-right: 15%;
}

.about__img {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
