header {
  padding: 13%;
  background-color: $jelly_bean;
  text-align: center;
  color: $white;

}

.header__title {
  font-weight: $extra-light;
  font-size: $x-large;  
  width: 80%;
  margin: 0 auto;
}

.header__title2 {
  font-weight: bold;
  font-size: 70px;
}
