main {
  background-color: $taupe_gray;
  padding: 5% 10%;
  color: $white;

}

.main__title {
margin-top: 1.5rem;
margin-bottom: 1.5rem;
text-align: center;

}

.main__img {
  width: 100%;
}

.main__text {
  padding-left: 15%;
  padding-right: 15%;
  text-align: left;

}
