.secondary {
  background-color: $snow;
  padding: 5% 10%;
}

.secondary__title {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.secondary__img {
  width: 100%;
}

.secondary__text {
  padding-left: 15%;
  padding-right: 15%;
}
